<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>password change</title>

</head>
<body style="background-color: #17a2b8;">
	<section>
		<div id="login">

			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 220px;" class="col-md-12">

							<h3 class="container text-center">Enter new password</h3>

							<form th:action="@{/forgot-password-change}" method="post">
								<div class="container">
									<div class="form-group">
										<input name="newpassword" required="required"  type="text" class="form-control"
											placeholder="Enter New password here ">
									</div>
								</div>


								<div class="container text-center mt-3">
									<button class="btn btn-primary">Change password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>